doctype html
html(lang="en")
  include includes/head.pug
  body
    nav.pagesList
      ul.pagesList__items
        li.pagesList__item
          a.pagesList__link(href="./default.pug") default
        li.pagesList__item
          a.pagesList__link(href="./static.pug") static