doctype html
html(lang="en")
  include includes/head.pug
  body
    nav.pagesList
      ul.pagesList__items
        li.pagesList__item
          a.pagesList__link(href="./default.pug") default (auto create wrapper)
        li.pagesList__item
          a.pagesList__link(href="./static.pug") static wrapper (no DOM manipulation)