doctype html
html(lang="en")
  include includes/head.pug
  body
    div.afScroll
      include includes/content.pug
    script(type="module", src="./js/global.js")
    script(type="module", src="./js/static.js")